.sp-s {
    --module-padding-xxl: 4rem;
    --module-padding-xl: 2.5rem;
    --module-padding-lg: 1.5rem;
    --module-padding-md: 1.25rem;
    --module-padding-sm: 0.75rem;
    --module-padding-xs: 0.5rem;
    
    --module-padding: var(--module-padding-xxl);
}

@media (max-width: 640px) {
    .sp-s {
        --module-padding-xxl: 2rem;
        --module-padding-xl: 1.5rem;
        --module-padding-lg: 1rem;
        --module-padding-md: 0.75rem;
        --module-padding-sm: 0.5rem;
        --module-padding-xs: 0.25rem;
        
        --module-padding: var(--module-padding-xxl);
    }
}