.sp-xl {
    --module-padding-xxl: 10rem;
    --module-padding-xl: 7rem;
    --module-padding-lg: 5rem;
    --module-padding-md: 3.5rem;
    --module-padding-sm: 2.5rem;
    --module-padding-xs: 1.5rem;
    
    --module-padding: var(--module-padding-xxl);
}

@media (max-width: 640px) {
    .sp-xl {
        --module-padding-xxl: 5rem;
        --module-padding-xl: 3.5rem;
        --module-padding-lg: 2.5rem;
        --module-padding-md: 2rem;
        --module-padding-sm: 1.5rem;
        --module-padding-xs: 1rem;
        
        --module-padding: var(--module-padding-xxl);
    }
}