.sp-zero {
    --module-padding-xxl: 0px;
    --module-padding-xl: 0px;
    --module-padding-lg: 0px;
    --module-padding-md: 0px;
    --module-padding-sm: 0px;
    --module-padding-xs: 0px;
    
    --module-padding: 0px;
}