.vc-verde {
	--color-primary: #4A7C59;
	--color-primary-light: #6B9B7F;
	--color-primary-dark: #2F5940;
	--color-accent: #D4A574;

	--color-white: #FFFFFF;
	--color-bg-cream: #FAF8F5;   
	--color-bg-light: #F4F7F6;   
	--color-border: #E2E7ED;
    
    --text-main: #2C3E50;        
    --text-muted: #5A6C7D;       
    --text-light: #8595A6;
    
    /* Variantes Hexadecimales para efectos */
    --color-header-bg: #FDFDFD0D;       
    --color-shadow-light: #F4F5F6;      
    --color-shadow-nav: #E9ECEF;        
    --color-shadow-glow: #C9D8CD;    
}