/* Este coincide con tus variables de base.css */
.sp-m {
    --module-padding-xxl: 6rem;
    --module-padding-xl: 4rem;
    --module-padding-lg: 3rem;
    --module-padding-md: 2rem;
    --module-padding-sm: 1rem;
    --module-padding-xs: 0.5rem;
    
    --module-padding: var(--module-padding-xxl);
}

@media (max-width: 640px) {
    .sp-m {
        --module-padding-xxl: 3rem;
        --module-padding-xl: 2rem;
        --module-padding-lg: 1.5rem;
        --module-padding-md: 1rem;
        --module-padding-sm: 0.5rem;
        --module-padding-xs: 0.25rem;
        
        --module-padding: var(--module-padding-xxl);
    }
}