/* Este coincide con tus variables de base.css */
.sp-m {
    --space-xxl: 6rem;
    --space-xl: 4rem;
    --space-lg: 3rem;
    --space-md: 2rem;
}

@media (max-width: 640px) {
    .sp-m {
        --space-xxl: 3rem;
        --space-xl: 2rem;
        --space-lg: 1.5rem;
        --space-md: 1rem;
    }
}