.sp-xs {
    --space-xxl: 2rem;
    --space-xl: 1.5rem;
    --space-lg: 1rem;
    --space-md: 0.75rem;
}

@media (max-width: 640px) {
    .sp-xs {
        --space-xxl: 1rem;
        --space-xl: 0.75rem;
        --space-lg: 0.5rem;
        --space-md: 0.5rem;
    }
}